#prompt
children = int(input("How many children do you have?"))

# children count from 0 to more1 than 3
if  children == 0: 
    print("Hmm, well you can travel the world… post Covid.")
elif children >= 1 or children <= 2:
    print("That's not a lot.")
    

else:
    print("Ooh, what’s your favorite part?") 
